
<footer>
    <div class='technologyAndCredits'>
        <div class='skeletonCredits'>
            <p class="section-description">Skeleton is an amazingly easy place to start with responsive development. If you want to learn more, just visit the documentation!</p>
            <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
        </div>
        <div class="bootstrapCredits">

        </div>
        <div class="htmlCredits">

        </div>
        <div class="cssCredits">

        </div>
        <div class="phpCredits">

        </div>
    </div>
    <div class="pageCredits">
        <p>Developed by Saucermen Web Design <?php echo date("Y"); ?></p>
    </div>
</footer>
<!-- End Document -->
</body>
</html>