        <footer>
            <div class='technologyAndCredits'>
                <h5><ins>Crafted using:</ins></h5>
                <div class='skeletonCredits'>
                    <h6>Skeleton</h6>
                    <i class="fas fa-skull"></i>                    
                    <a class="button button-primary" href="http://getskeleton.com">View Skeleton Docs</a>
                </div>
                <div class="bootstrapCredits">
                    <h6>Bootstrap</h6>
                    <i class="fab fa-bootstrap"></i>
                    <a class="button button-primary" href="https://getbootstrap.com/docs/5.1/getting-started/introduction/">Check out Bootstrap</a>
                </div>
                <div class="htmlCredits">
                    <h6>HTML</h6>
                    <i class="fab fa-html5"></i>
                </div>
                <div class="cssCredits">
                    <h6>CSS</h6>
                    <i class="fab fa-css3"></i>
                </div>
                <div class="phpCredits">
                    <h6>PHP</h6>
                    <i class="fab fa-php"></i>
                </div>
            </div>
            <div class="pageCredits">
                <p>Crafted by Saucermen Web Design <?php echo date("Y"); ?></p>
            </div>
        </footer>
    <!-- End Document -->    
    </div>
</body>
</html>