<!DOCTYPE html>
<!--
    Title: geared 
    Description: Practicing with PHP OOP by building a simple site.  Mock-up musical instrument discussion board.
    File Summary: html index file
    Date: 2021-08-01
    Author: Coty McKinney
    Credit: Skeleton Demo File templated
-->
<html lang="en">
<head>
<!-- Basic Page Needs -->
    <meta charset="utf-8">
    <title>GEARED</title>
    <meta name="description" content="Practicing with PHP OOP by building a simple site.  Mock-up musical instrument discussion board.">
    <meta name="author" content="Saucermen Web Design">
<!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- FONT -->
    <link 
        href='//fonts.googleapis.com/css?family=Raleway:400,300,600' 
        rel='stylesheet' 
        type='text/css'>
<!-- CSS -->
    <link 
        rel="stylesheet" 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
        crossorigin="anonymous">
    <link 
        rel="stylesheet" 
        href="./Assets/css/normalize.css">
    <link 
        rel="stylesheet" 
        href="./Assets/css/skeleton.css">   
    <link 
        rel="stylesheet" 
        href="./Assets/css/custom.css">
<!-- Scripts -->
    <script 
        src="https://kit.fontawesome.com/fedf65fe35.js" 
        crossorigin="anonymous">
    </script>
    <script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous">
    </script>
<!-- Favicon -->
    <link 
        rel="icon" 
        type="image/png" 
        href="./Assets/images/placeholder.png">
</head>
<body>
    <div class="container-fluid">
    <!-- Start Document -->