/*
    Title: Shareboard
    Summary: Practicing with PHP OOP by building a simple site.
    Date: 2021-08-23
    Author: Coty McKinney
*/

body {
    color: chartreuse;
}

footer {
    background-color: darkmagenta;
}
  
/* Bigger than 550 */
@media (min-width: 550px) {

}
  
/* Bigger than 750 */
@media (min-width: 750px) {

}
  
/* Bigger than 1000 */
@media (min-width: 1000px) {
    
}