/*
    Title: Shareboard
    Summary: Practicing with PHP OOP by building a simple site.
    Date: 2021-08-23
    Author: Coty McKinney
*/

body {
    color: chartreuse;
    background-color: darkcyan;
}

div.navi#navi {
    position: absolute;
    top: 0;
    padding: 0;
    background-color: yellow;
    color: blue;
    width: 100vw;
    height: 3vh;
}

div.navi#navi ul {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    list-style-type: none;
}

h1 {
    position: absolute;
    top: 20vh;
}

div.shareRows {
    position: absolute;
    top: 25vh;
    background: red;
    color: darkblue;
}

div.skeletonCredits {
    background-color: chocolate;
    color: yellow;
    height: 10vh;
    width: 35vw;
}

footer {
    position: absolute;
    background-color: darkmagenta;
    bottom: 0;
    width: 100vw;
}

.skeletonCredits {
    background-color: aquamarine;
}

.skeletonCredits a {
    position: absolute;
    bottom: -1vh;
    left: 19vw;
}

.pageCredits {
    position: absolute;
    left: 35vw;
    width: 35vw;
    background-color: blueviolet;
    bottom: 0;
}
  
/* Bigger than 550 */
@media (min-width: 550px) {

}
  
/* Bigger than 750 */
@media (min-width: 750px) {

}
  
/* Bigger than 1000 */
@media (min-width: 1000px) {
    
}